.setuparticle, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-size: 24px; }

body {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  color: #222; }

img {
  max-width: 100%; }

h1, h2 {
  color: #FFFBFB; }

h1 {
  font-family: "Dosis", sans-serif;
  text-shadow: 1px 1px 1px #222;
  font-size: 3rem;
  margin: 0; }

h2 {
  font-size: 0.75rem;
  text-transform: uppercase;
  margin-top: 0;
  font-weight: 400; }

h4 {
  font-size: 0.75rem; }

h5 {
  font-size: 0.5rem; }

p {
  font-size: 0.5rem; }

a,
a:visited {
  text-decoration: none;
  color: #222; }

header {
  height: 100vh;
  padding: 10% 0; }

video#hero-video {
  position: fixed;
  min-width: 100%;
  min-height: 100%;
  top: 50%;
  left: 50%;
  z-index: -100;
  transform: translateX(-50%) translateY(-50%);
  background: url(images/cat.jpg) no-repeat;
  background-size: cover; }

.logo-container {
  position: absolute;
  left: 10px;
  top: 10px; }

.forms {
  background: rgba(23, 73, 100, 0.6);
  padding: 1.5%;
  position: absolute;
  bottom: 0;
  width: 100%; }

.location-form {
  margin: 2.5%; }
  .location-form input[type="text"] {
    background: #FFFBFB;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px; }
  .location-form input[type="text"],
  .location-form input[type="submit"] {
    padding: 5px 10px;
    margin: 0;
    font-size: 0.75rem;
    border: none; }
  .location-form ::-webkit-input-placeholder {
    text-align: center; }
  .location-form input[type="submit"] {
    background: #D1949B;
    color: #222;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px; }

.results {
  background: #FFFBFB;
  padding-top: 1.5%;
  padding-bottom: 1.5%; }

.selections {
  margin: 2.5%; }
  .selections select {
    font-size: 0.75rem;
    padding: 5px 10px;
    height: 25px;
    color: #222;
    width: 150px;
    border: 1px solid #D1949B; }

.petInfo {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }
  .petInfo a {
    width: 30%; }

.shelter {
  text-align: left;
  background: #ffd9eb;
  padding: 2.5%; }
  .shelter .shelterTitle {
    margin: 0; }
  .shelter .petName {
    margin: 0; }

.petAge,
.petSex {
  margin: 0;
  display: inline; }

.imgContainer {
  overflow: hidden;
  height: 200px; }
  .imgContainer img {
    display: block;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover; }

.hide,
.hideAge {
  display: none; }
