@import "setup";

//Colours
$blue: #174964;
$pink: #D1949B;
$beige: #EDDAC0;
$white: #FFFBFB;

//Fonts
$headingFont: 'Dosis', sans-serif;
$bodyFont: 'Montserrat Light', arial;

html {
	font-size: 24px;
}

body {
	font-family: $bodyFont;
	text-align: center;
	color: #222;
}

img {
	max-width: 100%;
}

h1,h2 {
	color: $white;
}

h1 {
	font-family: $headingFont;
	text-shadow: 1px 1px 1px #222;
	font-size: 3rem;
	margin: 0;
	@media all and (max-width: 700px){
		font-size: 2rem;
	}
}

h2 {
	font-size: 0.75rem;
	text-transform: uppercase;
	margin-top: 0;
	font-weight: 400;
}

h4 {
	font-size: 0.75rem;
}

h5 {
	font-size: 0.65rem;
}

p {
	font-size: 0.6rem;
	line-height: 1.5;
}

a,
a:visited {
	text-decoration: none;
	color: $pink;
	transition: all 0.25s ease-in-out;
	&:hover {
		color: $blue;
	}
}

header {
	height: 100vh;
	padding: 100px 0;
	@media all and (max-width: 700px){
		background: url(images/cat.png) no-repeat;
		background-size: cover;
		background-position: center;
		padding: 20px 0;
	}
}

video#hero-video {
	position: fixed;
	min-width: 100%;
	min-height: 100%;
	top: 50%;
	left: 50%;
	z-index: -100;
	-webkit-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
	background: url(images/cat.png) no-repeat;
	background-size: cover;
	@media all and (max-width: 700px){
		display: none;
	}
}

.logo-container {
	position: absolute;
	left: 20px;
	top: 20px;
	@media all and (max-width: 700px){
		position: static;
		margin: 0 auto;
	}
}

.forms {
	background: rgba($blue, 0.6);
	padding: 3%;
	position: absolute;
	bottom: 0;
	width: 100%;
}

.location-form {
	margin: 2.5%;
	input[type="text"] {
		background: $white;
		border-top-left-radius: 3px;
		border-bottom-left-radius: 3px;
	}
	input[type="text"],
	input[type="submit"] {
		padding: 10px 15px;
		margin: 0;
		font-size: 0.75rem;
		border: none;
		@media all and (max-width: 700px){
			width: 100%;
			margin: 10px 0;
		}
	}
	::-webkit-input-placeholder {
		text-align: center;
	}
	input[type="submit"] {
		background: $pink;
		color: #222;
		border-top-right-radius: 3px;
		border-bottom-right-radius: 3px;
		transition: all 0.25s ease-in-out;
		&:hover {
			background: lighten($pink, 10);
		}
	}
}

.results {
	background: $white;
}

#resultsContainer {
	padding: 0 5%;
}

.selections {
	background: #ffdde1;
	padding: 5%;
	select {
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance:none;
		font-size: 0.75rem;
		padding: 10px 15px;
		// height: 25px;
		color: #222;
		width: 200px;
		border: none;
	}
}

.petInfo {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-justify-content: flex-start;
	justify-content: flex-start;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
	a {
		width: 30%;
		margin-bottom: 2.5%;
		margin-right: 3.33%;
		transition: all 0.25s ease-in-out;
		float: left;
		&:hover {
			background: #ffdde1;
		}
		@media all and (max-width: 800px){
			width: 45%;
		}

	}
}

.indiPet {
	width: 30%;
	margin-bottom: 25px;
	margin-right: 3.33%;
	@media all and (max-width: 1000px){
		width: 45%;
	}
	@media all and (max-width: 725px) {
		width: 100%;
	}
}

.shelter {
	text-align: left;
	padding: 2.5% 5%;
	.shelterTitle {
		margin: 40px 0;
		text-transform: uppercase;
	}
	.petName {
		margin: 0;
	}
}

.overlay {
	position: absolute;
	bottom: 0;
	color: $white;
	background: rgba($blue, 0.6);
	width: 100%;
	padding: 20px;
	&:hover {
		background: rgba($pink, 0.6);
	}
}

.petAge,
.petSex {
	margin: 0;
	display: inline;
}

.imgContainer {
	overflow: hidden;
	height: 300px;
	position: relative;
	img {
		display: block;
		width: 100%;
		height: 100%;
		-o-object-fit: cover;
		object-fit: cover;
	}
}

.hide,
.hideAge {
  display: none;
}

footer {
	padding: 5%;
}